
body {
    text-align: center;
}



table, th, td {
    border: 1px solid black;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  table {
    border-spacing: 10px;
  }



  #username-1st{
    font-style: italic;
    font-weight: bolder;
  }

  