
body {
    text-align: center;
}



table, th, td {
    border: 1px solid black;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  table {
    border-spacing: 10px;
  }



  #username-1st{
    font-style: italic;
    
  }

  #username-display {
    font-style: italic;
    font-family: 'Signika Negative', sans-serif;
  }
  #quit {
    padding: 0;
    border:inherit;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor:pointer;
  }

  #userscore-display {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

 