
body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 20px;
}


table, th, td {
    position: relative;
    width: 450px;
    
    margin: 100px auto 0;
    padding: 10px;
    box-sizing: border-box;
   

  }
  table {
    border-spacing: 10px;
  }

   #gif-top{

    position: absolute;
    width: 60px;
    top: 100px;
    right: 0px;
    opacity: 0;

   }

   #gif-top:hover {
     opacity: 1;
     background-color: cyan;
   }

  #username-display {
    font-style: italic;
    font-family: 'Signika Negative', sans-serif;
    
  }

  #username-display:hover {
    font-size: 25px;
    font-size-adjust: 15px;
    
  }
  #userscore-display:hover {
    font-size: 30px;
    font-size-adjust: 20px;
    text-decoration: underline;
  }
  
  #quit {
    padding: 0;
    border:inherit;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor:pointer;
    
  }

  #quit:hover {
    font-size: 30px;
    background-color:blueviolet;
    font-size-adjust: 20px;
  }

  #userscore-display {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  @keyframes fade-inout {
    40%{ opacity: 1;}
    80%{ opacity: 0.4;}
  }

  #quit {
    animation: fade-inout 4s infinite alternate;
    
  }

  @keyframes fade-in-username {
    from { opacity: 0;}
    to { opacity: 1;}
  }

  #username-display {
    animation-name: fade-in-username;
    animation-duration: 5s;
  }

  @keyframes fade-in-userscore {
    from { opacity: 0;}
    to { opacity: 1;}
  }

  #userscore-display {
    animation-name: fade-in-userscore;
    animation-duration: 5s;
  }

  .link {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    padding: 10px;
    
  }

  #gif-top-1 {
    position: absolute;
    width: 70px;
    top: 250px;
    left: 0px;
    opacity: 0;
  }

  #gif-top-1:hover {
    opacity: 1;
    background-color: red;
  }

 #gif-top-2 {
   opacity: 0;
   position: absolute;
   width: 80px;
   top: 600px;
   right: 400px;
 }

 #gif-top-2:hover {
   opacity: 1;
   background-color: chartreuse;
 }

 