.game-table {
  margin: 20px;
  min-height: 400px;
  height: 80vh;
  min-width: 850px;
  width: 90vw;
  border: 40px solid rgb(90, 54, 20);
  border-radius: 42%;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.8),
    inset 0 0 50px 20px rgba(0, 0, 0, 0.8);
}

#game-table1 {
  background: radial-gradient(
    circle,
    rgba(23, 184, 8, 1) 0%,
    rgba(11, 89, 6, 1) 100%
  );
}

#game-table2 {
  background: radial-gradient(
    circle,
    rgb(184, 8, 8) 0%,
    rgb(63, 4, 4) 100%
  );
}

#game-table3 {
  background: radial-gradient(
    circle,
    rgb(0, 217, 255) 0%,
    rgb(3, 50, 68) 100%
  );
}

#game-table4 {
  background: radial-gradient(
    circle,
    rgb(249, 161, 255) 0%,
    rgb(172, 40, 181) 100%
  );
}

.player-cards,
.bot-cards {
  width: 100%;
}

.player-draw,
.bot-draw,
.deck1,
.deck2 {
  width: 150px;
  min-width: 150px;
  border: 1px solid white;
  height: 200px;
  border-radius: 4%;
}

.player-draw {
  float: left;
  margin-left: 1rem;
}

.bot-draw {
  float: right;
  margin-right: 1rem;
}

.game-process{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 70px;
  justify-content: space-between;
}

/* @keyframes draw-butt {
  0%{ opacity: 0;}
  100%{ opacity: 1;}
}

.draw-result {
  animation: draw-butt 3.3s;
  font-weight: bolder;
} */

.display-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

#message-container {
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font: 25px 'Press Start 2P', sans-serif;

}

.clear-msg {
  display: none;
}

.welcome-msg {
  color: hotpink;
  animation: 
    fade 1300ms ease-in 200ms 1 backwards,
    blinky 400ms step-start 1800ms 3 forwards;
}

.result-msg {
  animation: blinky 400ms step-start 0ms 3 forwards;
  color: yellow; 
}

@keyframes fade {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes blinky {
  0% { opacity: 1 }
  50% { opacity: 0 } 
  100% { opacity: 1 }
}

.card-container {
  flex: 1 1 0;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#arcade-buttons-container {
  max-height: 85px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#arcade-buttons-panel {
  height: 85px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(90, 54, 20);
  border-radius: 50% 50% 0 0;
  box-shadow: 0 -6px 6px rgba(0, 0, 0, 0.6);
}

.arcade-button {
  width: 50px;
  height: 50px;
  border: 0;
  padding: 0;
  outline: none; /* ? */
  border-radius: 50%;
  cursor: pointer;
}

#change-table-btn {
  background-color: rgba(0, 255, 0, 1);
}

#change-card-btn {
  background-color: rgba(0, 0, 255, 1);
}

#new-game-btn {
  background-color: rgba(255, 0, 0, 1);
}

.arcade-button-label {
  margin: 3px 0 0 0;
  padding: 0;
  font: 12px 'Audiowide', cursive;
}

.button-label-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 65px;
  height: 100%;
}