.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: fixed;
  top: 0;
  width: 100%;
  color: white;
  border-bottom: 1px solid orangered;
}

.gamePage {
  background: radial-gradient(circle, rgba(45,59,161,1) 22%, rgba(8,12,29,1) 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}
